@import './sign_pages';
@import './welcome_after_sign.scss';

// Ирина

@font-face {
  src: url(../assets/fonts/VolkhovRegular.ttf);
  font-family: "VolkhovRegular";
}

@font-face {
  src: url(../assets/fonts/montserrat-regular.ttf);
  font-family: "montserrat-regular";
}

@font-face {
  src: url(../assets/fonts/Seven\ Segment.ttf);
  font-family: "Seven\Segment";
}

$primary-color: #000;
$secondary-color: #fff;
$button-bg: #000;
$button-text-color: #fff;
$grid-gap: 20px;

body {
    color: $primary-color;
    background-color: $secondary-color;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    .header__container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        padding-left: 27px;
        padding-right: 27px;
        margin-top: 55px;
        margin-bottom: 55px;
        margin-left: 105px;
        margin-right: 105px;

    .logo_fasco {
        width: 75%;
    }

    .header__navigation {
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {
          padding: 20px;

          a {
            color: $primary-color;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s;
            padding: 50px;

            &:hover {
              color: #d98888;
            }
          }
        }
      }
    }

    .header__signup__button {
      width: 95px;
      background-color: $button-bg;
      color: $button-text-color;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
      padding: 10px 20px;

      &:hover {
        background-color: #d98888;
      }
    }
  }

  .header__section {
    font-family: "montserrat-regular";
    margin-top: 20px;
    .header__section__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      align-items: center;
      text-align: center;

      .header__image1, .header__image4 {
        img {
          width: 320px;
          object-fit: cover;
        }
      }

      .header__image1 {
        margin-left: 155px;
      }

      .header__image4 {
        margin-right: 155px;
      }

      .header__image__center {
        position: relative;
        h1 {
          font-size: 2rem;
          font-weight: bold;
        }

        p {
          font-size: 1rem;
          color: #000;
          margin-bottom: 15px;
        }

        .header__shopnow__button {
          background-color: $button-bg;
          color: $button-text-color;
          border: none;
          font-size: 1rem;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s;
          padding: 10px 20px;
          margin-bottom: 7px;

          &:hover {
            background-color: #d98888;
          }
        }

        img {
          width: 80%;
          display: block;
          margin: 10px auto;
        }
      }
    }
  }

  .header__brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
    margin-left: 130px;
    margin-right: 130px;

    img {
      height: auto;
      object-fit: contain;
    }
  }
}

// Homepage__timer

.main__section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;

  .main__section1__timer {
    width: 40%;

    h2 {
      color: #333;
      font-family: "VolkhovRegular";
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      color: #666;
      font-family:"montserrat-regular";
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .main__buynow__button {
      width: 150px;
      background-color: $button-bg;
      color: #fff;
      font-family:"montserrat-regular";
      font-size: 1rem;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
      padding: 10px 20px;
      margin-bottom: 20px;

      &:hover {
        background-color: #d98888;
      }
    }

    h3 {
      color: $primary-color;
      font-family:"montserrat-regular";
      font-size: 1.5rem;
      font-weight: bold;
    }

    .main__section1__countdown {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 20px;
      margin-right: 170px;

      .main__section1__timebox {
        height: 60px;
        width: 60px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        .timebox__number {
          color: #333;
          font-family: "Seven\Segment";
          font-size: 2rem;
          font-weight: bold;
        }

        .label {
          color: #666;
          font-family: "montserrat-regular";
          font-size: 1rem;
          margin-top: 5px;
        }
      }
    }
  }
}

// Homepage_slider

.main__section1__slider {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;

  .main__section1__slides {
    display: flex;
    transition: transform 0.5s ease;
  }

  .main__section1__slide {
    display: inline-block;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;

    &.active {
      transform: scale(1.1);
    }

    img {
      width: 95%;
      margin-left: 85px;
    }

    .main__section1__slider__info {
      background-color: rgba(233, 228, 228, 0.7);
      color: #000000;
      font-family: "montserrat-regular";
      position: absolute;
      bottom: 1rem;
      left: 6.5rem;
      padding: 25px 25px;
      margin-right: 55px;

      p {
        color: #000;
        font-size: 1rem;
        margin: 0;
      }

      h3 {
        color: #000;
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }

  .main__section1__slider__nav {
    position: absolute;
    left: 4.4%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
    gap: 6px;
    margin-bottom: 5.5px;

    button {
      background-color: #fff;
      font-size: 0.7rem;
      border: none;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      transition: background-color 0.3s ease;
      padding: 10px 15px;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .main__section1__slider__dots {
    display: flex;
    gap: 0.8rem;
    margin-top: 430px;
    margin-left: 20px;


    .slider__dot {
      height: 9px;
      width: 9px;
      background-color: #aba4a4;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.active {
        background-color: #333;
      }
    }
  }
}

// New Arrivals

.main__section2 {
  text-align: center;
  padding: 50px 100px;
  margin-top: 35px;
  margin-bottom: 50px;


  &__text {
    h1 {
      color: $primary-color;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      color: #666;
      font-family: "montserrat-regular";
      font-size: 1rem;
      margin-bottom: 30px;
    }
  }

  &__navigation {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 15px;
      padding: 0;
      margin-bottom: 40px;

      li {
        a {
          color: #666;
          background-color: $secondary-color;
          font-family: "montserrat-regular";
          font-size: 1rem;
          font-weight: bold;
          text-decoration: none;
          border-radius: 5px;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          transition: background-color 0.3s, color 0.3s;
          padding: 10px 20px;

          &:hover {
            background-color: #000;
            color: $secondary-color;
          }

          &.active {
            background-color: $button-bg;
            color: $button-text-color;
          }
        }
      }
    }
  }

  &__products {
    font-family: "montserrat-regular";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    text-align: left;
    gap: $grid-gap;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.main__section2__cards {
  display: contents;
}

.section2_card1,
.section2_card2,
.section2_card3,
.section2_card4,
.section2_card5,
.section2_card6 {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    color: #333;
    font-size: 0.8rem;
    margin: 5px 0;
  }

  .card_stars img {
    height: 10%;
    width: 10%;
  }

  .new_arrivals_price {
    color: $button-bg;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .new_arrivals_soldout {
    color: #e04843;
    font-size: 0.8rem;
  }
}

.main__viewmore__button {
  width: 170px;
  background-color: $button-bg;
  color: #fff;
  font-family: "montserrat-regular";
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  padding: 11px 11px;
  margin: 15px auto;
}


@font-face {
    src: url(../assets/fonts/VolkhovRegular.ttf);
    font-family: "VolkhovRegular" ;
}

@font-face {
    font-family:"PoppinsRegular";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

body{
    h2{
        font-family: "VolkhovRegular";
        color: #484848;
    }

    p{
        font-family:"PoppinsRegular";
        color: #8A8A8A;
    }

///Peaky Blinders///

.peakyBlinders{
    width: 100%;
    height: 670px;
    display: grid;
    grid-template-rows: 70% 1fr;
    padding-bottom: 1cap;

    .peakyBlindersDescripton{
    width: 100%;
    height: 450px;
    background: url(../assets/images/Blinders.svg) top center;
    background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 20% 10% 5% 30% 5% 10% 1fr;
    justify-items: start;
    align-items: center;

    .womenPeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    h2{
        font-size: 46px;
        display: grid;
        grid-column: 2/3;
        grid-row:2/3;
    }

    .descriptonNamePeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .descriptionPeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .sizePeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row:5/6 ;
    }
  }

    .translatorPeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row:6/7 ;
    }

    .btnPeakyBlinders{
        width: 207px;
        height: 45px;
        display: grid;
        grid-column: 2/3;
        grid-row:7/8 ;
        align-items: center;
        background-color: black;
        color: white;
        position:static;
        background-size: cover;
        border-radius: 10px;
    }
  }
}

    .peakyBlindersAdvantages{
        height: 200px;
    }

///Follow Us On Instagram///

.followUsOnOnIstagram{
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    padding-top: 1%;

    .chapterTextInstagramm{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

    h2{
        font-size: 46px;
    }

    p{
        font-size: 16px;
        margin: 2cap;
    }
}

    .chapterImgInstagram {
        width: 98%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-top: 5ch;
    }
}

///This Is What Our Customers Say///

    .reviews {
        background-color: rgb(247, 247, 247);
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        h2{
            font-size: 46px;
            padding-bottom: 1cap;
        }

        p{
            font-size: 16px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .sliderImg{
            width: 55%;
            height: 400px;
            display: flex;
            justify-content: center;
            position: relative;
            object-fit: cover;
            overflow: hidden;
            transition: transform 3s ease-in-out;

            img{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .reviewSectionBtn{
            display: flex;

            .btnRight{
                position:static;
                width: 48px;
                height: 48px;
                //border: none;
                background-image: url('..//assets/images/btnRight.png');
                background-size: cover;
            }
            .btnLeft{
              position:static;
              width: 48px;
              height: 48px;
              //border: none;
              background-image: url('../assets/images/btnLeft.png');
              background-size: cover;
            }
        }
    }

.subscription{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 42px;
        padding-bottom: 1cap;
    }

    p{
        font-size: 16px;
        padding-bottom: 1cap;
    }

    .subscriptionForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input{
            background-color: rgb(238, 236, 236);
            width: 100%;
            height: 2rem;
            padding: 2cap;
        }

        button{
            margin-top: 2cap;
            width: 207px;
            height: 56px;
            background-color: black;
            color: white;
            position:static;
            background-size: cover;
            border-radius: 10px;
        }

        #result{
            color: #484848;
        }
    }

    img{
        padding: 1%;
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid gray;

    h2{
        font-size: 32px;
        padding-left: 2%;
    }

    p{
        font-size: 12px ;
        display: flex;
        justify-content: center;
        padding: 1%;
    }
}
