@font-face {
    src: url(../assets/fonts/VolkhovRegular.ttf);
    font-family: "VolkhovRegular" ;
}

@font-face {
    font-family:"PoppinsRegular";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}


body{
    h2{
        font-family: "VolkhovRegular";
        color: #484848;
    }

    p{
        font-family:"PoppinsRegular";
        color: #8A8A8A;
    }
///Peaky Blinders
.peakyBlinders{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-rows: 70% 1fr;
    padding-bottom: 1cap;

    .peakyBlindersDescripton{
    width: 100%;
    height: 450px;
    background: url(../assets/images/Blinders.svg) top center;
    background-size: cover; 
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 20% 10% 5% 30% 5% 10% 1fr;
    justify-items: start;
    align-items: center;
    

    .womenPeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;

    }

    h2{
        font-size: 46px;
        display: grid;
        grid-column: 2/3;
        grid-row:2/3 ;
        
    }

    .descriptonNamePeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .descriptionPeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .sizePeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row:5/6 ;

    }
    
    .translatorPeakyBlinders{
        display: grid;
        grid-column: 2/3;
        grid-row:6/7 ;
    }

    .btnPeakyBlinders{
        width: 207px;
        height: 45px;
        display: grid;
        grid-column: 2/3;
        grid-row:7/8 ;
        align-items: center;
        background-color: black;
        color: white;
        position:static;
        background-size: cover;
        border-radius: 10px;

    }
    

    }
    .peakyBlindersAdvantages{
        height: 200px;
    }
}

///Follow Us On Instagram
.followUsOnOnIstagram{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding-top: 1%;

    .chapterTextInstagramm{
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

    h2{
        font-size: 46px;
        
    }

    p{
        
        font-size: 16px;
        margin: 2cap;

    }
}

    .chapterImgInstagram {
        width: 98%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-top: 5ch;

    }

    
}

///This Is What Our Customers Say
    .reviews {
        background-color: rgb(247, 247, 247);
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;


        h2{
            font-size: 46px;
            padding-bottom: 1cap;

        }

        p{
            font-size: 16px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;

        }

        .sliderImg{
            width: 864px;
            height: 400px;
            display: flex;
            justify-content: center;
            position: relative;
            object-fit: cover;
            overflow: hidden;
            transition: transform 3s ease-in-out;
        }

        .reviewSectionBtn{
            display: flex;

            .btnLeft{
                position:static;
                width: 48px;
                height: 48px;
                //border: none;
                background-image: url('../assets/images/btnLeft.png');
                background-size: cover;
            }
            .btnRight{
                position:static;
                width: 48px;
                height: 48px;
                //border: none;
                background-image: url('..//assets/images/btnRight.png');
                background-size: cover;
            }
        }
    }

.subscription{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    h2{
        font-size: 42px;
        padding-bottom: 1cap;
    }

    p{
        font-size: 16px;
        padding-bottom: 1cap;
    }
    .subscriptionForm{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input{
            background-color: rgb(238, 236, 236);
            width: 100%;
            height: 2rem;
            padding: 2cap;
        }

        button{
            margin-top: 2cap;
            width: 207px;
            height: 56px;
            background-color: black;
            color: white;
            position:static;
            background-size: cover;
            border-radius: 10px;
        }

        #result{
            color: #484848;
        }
        
    }

    img{
        padding: 1%;
    }

}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid gray;
    

    h2{
        font-size: 32px;
        padding-left: 2%;
    }

    p{
        font-size: 12px ;
        display: flex;
        justify-content: center;
        padding: 1%;

    }
    
}

}